<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="/javascripts/jquery-1.9.1.js"></script>
    <script src="/javascripts/jquery-ui.js"></script>
</head>

<body>
    <h1></h1>
    <p>Welcome </p>
    <div>
        <button id="userlogin">User LogIn</button>
        <button id="adminlogin">Admin LogIn</button>
    </div>
    <div id="login" style="margin-top: 20px;margin-bottom: 30px;">
    </div>
    <script src="/javascripts/leave.js"></script>
</body>

</html>
